h5{
	text-align: right;
	color: white;
	background-color:    #e6e600;
	margin-left: -7.5px;
	margin-right: -7.5px;
	margin-top:10.5px;
	height: 35px;
}
a:hover{
	background-color: #BDBDBD;
}
a{
	color: black;
	text-decoration: none;
}
.y fieldset{
	
	width:665px;
}
.q fieldset{
	height:217px;
}
.r{
float:center;
margin-left:100px;
height: 350px;
margin-top:20px;
width:650px;
}
.container{
	
	background-color:#fff;
	border-radius:30px;
	margin-top:70px;
	margin-bottom:50px;
    margin-left:300px;
	margin-right:0px;
	padding-left:0px;
    width:800px;
    height:2000px;
}
.img{
float:left;
padding: 30px 40px;
margin-top: 20px;
}
pre{
	font-size:20px;
	font-family:Times New Roman;
	margin-top: -10px;	
	margin-left: 32px;
	margin-bottom: 22px;
	padding-top: 5px;
}

fieldset{
   background-color: #fff;
   border-color:black;
}

@CHARSET "ISO-8859-1";